# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Hugging Face / model cache
.cache/
huggingface/
models/

# FAISS generated indexes
*.index

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db